/*
=====================================
Categories
=====================================
*/
.categories {
  margin-bottom: 3rem;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    // justify-content: center;
    /* background: $color-gray-100; */
    li {
      span {
        border-bottom: 3px solid transparent;
        // background: $color-gray-100;
        display: block;
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        color: $color-dark;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &.active {
          border-color: $color-primary;
          // background: $color-gray-200;
          opacity: 1;
          color: $color-primary;
        }
      }
    }
  }
}