/*
=====================================
Partners
=====================================
*/
#partners {
  background: $color-dark-transparent;
  position: relative;
  overflow: hidden;
  width: 100%;

  .container {
    z-index: 3;
    position: relative;
    padding: 6rem 0;

    .swiper-slide {
      color: $color-white;

      img {
        filter: invert(1);
        opacity: 0.2;
      }

      &.swiper-slide-active img {
        opacity: 1;
      }
    }

    // Viewpoint
    .viewpoint {
      padding-top: 3rem;

      .swiper-slide {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        blockquote {
          color: $color-gray-200;
          font-size: 0.9rem;
          margin-bottom: 2rem;
          position: relative;

          &::before {
            content: '\eb69';
            font-family: $font-family-icons;
            font-size: 2rem;
            color: $color-white;
            position: absolute;
            right: -2rem;
            bottom: -1rem;
          }

          &::after {
            content: '\eb69';
            font-family: $font-family-icons;
            font-size: 2rem;
            color: $color-white;
            position: absolute;
            left: -2rem;
            top: -1rem;
            transform: rotate(-180deg);
          }
        }

        b {
          color: $color-white;
          font-size: 1rem;
        }

        cite {
          color: $color-gray-200;
          font-size: 0.8rem;
        }
      }

      .swiper-pagination {
        position: relative;
        z-index: 3;

        .swiper-pagination-bullet {
          background: $color-white;
          opacity: 0.3;

          &.swiper-pagination-bullet-active {
            background: $color-white;
            opacity: 1;
          }
        }
      }
    }
  }
}
