/*
=====================================
About
=====================================
*/

#about {
  background: $color-gray-100;
  padding: 6rem 0;

  .about-list-image {
    ul {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      padding-top: 4rem;

      li {
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        width: 30%;

        &:first-child {
          transform: translateX(-3rem);
          z-index: 2;
        }

        &:nth-child(2) {
          width: 40%;
          z-index: 3;
          transform: translateY(-10%);
        }

        &:last-child {
          transform: translateX(3rem);
          z-index: 2;
        }

        img {
          width: 100%;
          height: 100%;
          transition: transform 0.4s ease-out;
          object-fit: cover;

          &:hover {
            transform: scale(1.25);
          }
        }
      }
    }

    @media screen and (max-width: 991px) {
      & {
        margin-bottom: 3rem;
      }
    }
  }

  // About content
  .about-content {
    display: flex;
    flex-direction: column;

    q {
      font-size: 0.7rem;
      color: $color-primary;
    }

    h3 {
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 0.9rem;
      color: $color-gray-700;
      margin-bottom: 1rem;
    }

    blockquote {
      font-size: 0.8rem;
      color: $color-gray-600;
    }

    .button-style {
      display: inline-block;
      margin-left: auto;
    }
  }
}