/*
=====================================
Author profile
=====================================
*/
.author-profile {
  padding: 0 15px;

  &-holder {
    display: flex;
    flex-direction: row;
  }

  &-avatar {
    flex: 0 0 auto;

    img {
      width: auto;
      height: auto;
      border-radius: 50%;
      display: block;
      margin: auto;
      border: 4px solid $color-gray-300;
      padding: 0.5rem;
    }
  }

  &-info {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding-right: 1rem;

    h3 {
      font-size: 1rem;
      font-weight: normal;
    }

    cite {
      font-size: 0.8rem;
      font-style: normal;
      color: $color-gray-700;
    }
    
    span {
      font-size: 0.7rem;
      color: $color-primary;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 0.7rem;
    }
  }

  @media screen and (max-width: 992px) {
    &-holder {
      flex-direction: column;

      &-avatar {
        flex: 0 0 auto;
      }
    }

    &-info {
      padding-top: 2rem;
      padding-right: 0;
    }
  }
}