/*
=====================================
Footer
=====================================
*/

#footer {
  text-align: center;
  background: $color-dark;
  border-top: 1px solid $color-gray-800;
  padding: 3rem 0;

  .social-media-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    a {
      width: 3rem;
      height: 3rem;
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-white;
      background: $color-gray-800;
      border-radius: 50%;
      margin: 0.25rem;

      &:hover {
        background: $color-gray-700;
      }
    }
  }

  .copyright {
    font-size: 0.9rem;
    color: $color-gray-300;

    a {
      color: $color-gray-100;
    }
  }
}