/*
=====================================
Header
=====================================
*/

#header {
  background: $color-white;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid $color-gray-200;

  .container,
  .container-fluid {
    position: relative;
    z-index: 3;

    // Mini profile
    .mini-profile {
      display: flex;
      padding: 5rem 0;
      
      // Avatar
      .mini-profile-avatar {
        width: 25%;
        // float: right;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
          border-radius: 50%;
          object-fit: cover;
          @include transition(all, 0.1s, cubic-bezier(0.785, 0.135, 0.15, 0.86));

          &:hover {
            opacity: 0.9;
          }
        }
      }

      // Content
      .mini-profile-content {
        width: 75%;
        margin-right: 30px;

        // Heading
        .mini-profile-heading {
          margin-bottom: 1rem;

          h1 {
            font-size: 2.5rem;
            color: $color-dark;
            font-weight: bold;
          }
        }

        // Description
        .mini-profile-description {
          font-size: 1.25rem;
          color: $color-gray-800;
          margin-bottom: 1rem;
          line-height: 2rem;
        }

        // Social media
        .social-media {
          display: flex;
          // border-top: 2px solid $color-primary;

          li {
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 3rem;
              height: 3rem;
              background: $color-gray-200;
              color: $color-gray-600;
              // margin-right: 30px;

              &:hover {
                background: $color-gray-400;
                color: $color-dark;
              }
            }
          }
        }
      }

      @media screen and (max-width: 992px) {
        flex-direction: column;
        
        .mini-profile-avatar {
          width: 50%;
        }

        .mini-profile-content {
          margin-right: 0;
          width: 100%;
        }
      }

    }
  }
}